/* Inter-Regular */
@font-face {
  font-family: "Inter";
  src: url("../font/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* Inter-Medium */
@font-face {
  font-family: "Inter";
  src: url("../font/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root{
  --bg-dark: #1C1F24; /* для подвала, темных элементов */
  --color-dark: #000000; /* Для текстов */
  --color-primary: #1F3A5F; /* для заголовков, кнопок и т.д. */
  --color-sky-blue: #3A7CA5; /* выделения ссылок, выделения пунктов меню при наведении */
  --color-text: #000000; /* для текста. */
  --color-grey: rgba(191, 191, 191, 0.565); /* разделительные линии, элементы интерфейса */
}

hr{
  background-color: var(--color-grey);
  opacity: 1;

}

img{
  max-width: 100%;
}

a{
  transition: 0.3s;
  text-decoration: none;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--body-bg);
  color: var(--color-dark);
  line-height: 1.21;
}

/* CONTAINER */
@media (min-width: 1500px) {
  .container{
      max-width: 1456px;
  }
}


h1, ._h1{
  color: var(--color-primary);
  font-weight: 500;
  font-size: 30px;
}

h2, ._h2{
  color: var(--color-dark);
  font-weight: 500;
  font-size: clamp(28px, 2.4vw, 37px);

}


/* ARROW DOWN */
.arrow-down {
  display: flex;
  width: 8px;
  height: 8px;
  border-right: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  transform: rotate(45deg);
  transition: transform 0.25s ease;
}
/* FONT WEIGHTS */
.fw-medium{
  font-weight: 500;
}
/* FONT SIZES */
.fs-14{
  font-size: 14px;
}

#wrapper{
  padding-top: 56px;
}

/* HEADER */
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  height: 56px;
  border-bottom: solid 1px #D9D9D9;
  background-color: #fff;
}
.header .navbar{
   background-color: #fff;
   border-bottom: solid 1px #D9D9D9;
}
.header-navbar__toggler{
  background: none;
  border: none!important;
  border-radius: 5px;
  min-width: 35px;
}
.header-navbar__close{
  display: none;
  font-size: 32px;
}
.header-navbar__toggler[aria-expanded=true] > *{
  display: none!important;
}
.header-navbar__toggler[aria-expanded=true] .header-navbar__close{
  display: flex!important;
}
.header .nav-link{
  color: var(--color-dark);
}
.header .nav-link:hover{
 color: var(--color-sky-blue);
}
.header-search__input{
  box-shadow: none!important;
  border-color: var(--color-primary);
}
.header-search__input:focus{
  border-color: var(--color-sky-blue);
}
.header-btn__search{
  background-color: var(--color-primary);
}
.header-btn__search:hover{
  background-color: var(--color-sky-blue);
}

/* NEWS ITEMS */
.newsItem-row .newsItem-col{
  position: relative;
}
.newsItem-row .newsItem-col:nth-of-type(even){
  border-right: none;
}
.newsItem-row .newsItem-col:nth-of-type(odd) {
    border-left: none;
}
.newsItem-row .newsItem-col:before{ 
  content: "";
  position: absolute;
  top: calc(var(--bs-gutter-x) * -0.5);
  left: calc(var(--bs-gutter-x) * 0.5);
  width: calc(100% - calc(var(--bs-gutter-x) * 1));
  height: 1px;
  background-color: var(--color-grey);
}
.newsItem{
  background-color: #fff;
  display: inline-block;
  width: 100%;
  container-name: newsItem;
  container-type: inline-size;
}
.newsItem:hover .newsItem-title{
  text-decoration: underline;
  color: var(--color-sky-blue);
}
.newsItem-title{
  font-size: 35px;
  color: var(--color-primary);
}
.newsItem-content{
  padding: 20px 0;
  color: var(--color-text);
  font-size: 20px;
}
.newsItem-img{
  width: 100%;
  display: inline-block;
}
.newsItem-img img{
  width: 100%;
}
.newsItem-rubric__wrap{
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  font-size: 15px;
}
.newsItem-rubric{
  display: inline-block;
  background-color: var(--color-primary);
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
}
@media (min-width: 578px) {
  .newsItem-row .newsItem-col{
      border-right: solid 1px var(--color-grey);
    }
    .newsItem-row .newsItem-col:nth-child(-n + 2):before{
    display: none;
  }
}
@media (min-width: 992px) {
  ._border-right{
    border-right: solid 1px var(--color-grey);
  }
  ._border-left{
    border-left: solid 1px var(--color-grey);
  }
}
@container newsItem (max-width: 457px) {
  .newsItem-title{
    font-size: 20px;
  }
  .newsItem-content{
    font-size: 17px;
  }
  .newsItem-rubric__wrap{
    font-size: 12px;
  }
}
@container newsItem (max-width: 300px) {
  .newsItem-title{
    font-size: 16px;
  }
  .newsItem-content{
    font-size: 14px;
  }
  .newsItem-rubric__wrap{
    font-size: 10px;
  }
}

/* FOOTER */
.footer{
    background-color: var(--bg-dark);
    color: #fff;
}
.footer-hr{
  opacity: 1;
  background-color: #333333;
}
.footer a {
  color: #fff;
  text-underline-position: under;
}
.footer a:hover{
  text-decoration: underline;
  opacity: 0.8;
}
.footer-socials a{
  width: 32px;
  height: 32px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
} 
.footer-list__label{
  font-size: 15px;
  color: #fff;
  border: none;
}
.footer-list__label[aria-expanded=true] .arrow-down{
  transform: rotate(225deg);
}
.footer-list{
  font-size: 15px;
}
.footer-cookies{
  font-size: 14px;
}
.footer-cookies__btn{
  border: solid 1px #fff;
  padding: 5px 5px;
  border-radius: 5px;
  text-decoration: none!important;
}
.footer-collapse {
  overflow: hidden;
}
.footer-collapse > li {
  padding-top: 0.75rem;
}
.footer-links a{
  text-decoration: underline;
}
@media (max-width: 767px) {
  .footer-list{
    padding-bottom: 10px;
    padding-top: 12px;
    border-bottom: solid 1px #333333;
  } 
  .footer-list__label .arrow-down{
    position: absolute;
    top: -3px;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  .footer-collapse > li:first-of-type{
    padding-top: 20px;
  }
}